.App {
  text-align: center;
  height: 100vh;
}

.Bodylayout {
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

.App-content {
  padding-top: 80px;

}

.manageContainer {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
}

.MutedText {
  color: rgb(155, 155, 155);
}

.AddProductButton {
  background: rgb(74, 164, 216);
  color: white;
  font-weight: 500;
}

.AddProductButton:hover {
  color: white;
}